.Popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 100vw;
  padding: 20px;
}

.Background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.Popup__content {
  width: 500px;
  max-width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,.34);
}
